:root {
    --primary: rgba(255, 255, 255, .8);
    --primary-lighter: #4fc3f7;
    --primary-darker: #005b9f;
    --background: #030931;
}

body {
    background: var(--background) url("/assets/images/stars.png") no-repeat top right fixed;
    color: var(--primary);
    font: 300 1.2em/1.6 'Inter', sans-serif;
}

h1 {
    font: 700 1.5em/1.4 'Inter', sans-serif;
    color: #e8e8fd;
}

h1 span {
    font-weight: 300;
    color: #98a0b3;
}

form {
    margin: auto;
    text-align: left;
}

header, section, footer {
    padding: 3rem 1em;
    text-align: center;
}

section.two {
    box-sizing: border-box;
    border-top: 2px solid #000;
    min-height: 100vh;
}

label {
    display: block;
    padding: .5em 0;
}

input, textarea {
    box-sizing: border-box;
    outline: none;
    font: inherit;
    color: #e8e8fd;
    background-color: rgba(0, 0, 0, .25);
    padding: .5em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #333;
    margin-bottom: 1em;
}

textarea {
    min-height: 300px;
    max-height: 50vh;
    resize: vertical;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    transition: 200ms;
    border-bottom-color: rgba(255, 255, 255, .8);
    background-color: rgba(0, 0, 0, .5);
}

.container {
    max-width: 800px;
    margin: auto;
}

button {
    font: inherit;
    border: none;
    background: rgba(255, 255, 255, .6);
    padding: .5rem 2rem;
    color: #1d1d1d;
}

button:hover:not([disabled]) {
    transition: 200ms;
    cursor: pointer;
    background: rgba(255, 255, 255, .8);
    padding: .5rem 2rem;
    color: #1d1d1d;
}

button {
    border-radius: 2em;
}

#success {
    padding-top: 6rem;
    transition: 200ms;
    display: none;
    opacity: 0;
}

img {
    border-radius: 100%;
    width: 9em;
    height: 9em;
    padding: 1px;
    background: linear-gradient(86deg, #2977f3, #4f2cd2);
    margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 1em;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#submit:disabled {
    color: rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .1);
}

.backlight {
    position: fixed;
    width: 40em;
    height: 40em;
    transform: rotate(-30deg);
    border-radius: 50%;
    opacity: .4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background-image: radial-gradient(circle at 0%, #3d3ea4, #0f064b 50%);
    bottom: 10vh;
    left: 30vw;
    z-index: -1;
}
