@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --blue: #03c2e0;
    --green: #3bc86f;
    --text-color-primary: rgba(255, 255, 255, .7);
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    background-color: #080f1b;
    /*background-color: #051933;*/
    text-align: center;
    color: var(--text-color-primary);
}

h1, h2 {
    font-weight: 600;
    line-height: 140%;
    margin: 0;
    padding: 0;
    transition: 200ms;
    color: #fff;
}

h1 {
    font-size: 3em;
    color: #fff;
    /*background-image: linear-gradient(to right, #39f6eb, #1184ef);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

h2 {
    font-size: 2em;
}

header, section {
    padding: 3em 2em;
    border-bottom: 2px solid #000;
}

header {
    background-image: url("/assets/images/courses-banner-light.svg"), linear-gradient(159deg, rgb(10, 2, 39), rgb(24, 67, 130) 48%, rgb(20, 112, 146) 97%, rgb(20, 112, 146) 0px);
    background-repeat: no-repeat;
    background-position: top left;
}

header p {
    max-width: 800px;
    margin: auto;
    padding-top: 2em;
}

a {
    transition: 200ms;
}

.course {
    display: none;
}

figure {
    margin: 2em 0 1em 0;
}

section.last-courses {
    color: #fff;
    background-color: #051931;
    font-size: .8em;
}

section.last-courses p {
    font-size: 1.5em;
    margin: 0 1em 1em 1em;
}

.tags {
    margin: 0;
    padding: 0;
}

.tags .hidden {
    display: none;
}

.tags li {
    display: inline-block;
    list-style: none;
}

.tags li a {
    display: block;
    border: 1px solid rgba(255, 255, 255, .2);
    margin: .2em 0;
    padding: .5em 1em;
    border-radius: 1rem;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
}

.tags .active, .tags li a:hover {
    background-color: #f16166;
    border-color: #f16166;
    color: #000;
}

.summary {
    display: inline-block;
    margin: 1em 0 0 0;
    text-align: left;
}

.summary li {
    padding: .2em 0;
    margin: 0;
}

.summary a, figcaption a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.summary a:hover, figcaption a:hover {
    border-bottom-color: var(--blue);
}

img.placeholder {
    min-height: 500px;
    background: linear-gradient(90deg, #08192f, #0a3b75);
    background-size: 200% 100%;
    animation: Animation 1s normal infinite;
}

@keyframes Animation {
    0% {
        background-position: 200% 200%
    }
    100% {
        background-position: 0 0
    }
}

.certificate img, .certificate figcaption {
    opacity: .7;
    transition: 400ms;
}

.certificate img:hover, .certificate figcaption:hover {
    opacity: 1;
}

.certificate img {
    max-width: 100%;
    width: 800px;
    border-radius: 5px;
}

figcaption {
    margin: 1em;
    word-wrap: break-word;
    font-size: .8em;
}

.summary a:hover, figcaption a:hover {
    text-decoration: none;
}

footer {
    margin: 2em 1em 40vh 1em;
    font-size: .8em;
}

footer p {
    margin: 2em 1em .5em 1em;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
}

footer li::after {
    content: " - ";
}

footer li:last-of-type::after {
    content: "";
}

footer a {
    display: inline-block;
    color: var(--green);
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}

footer a:hover {
    border-bottom-color: var(--green);
}

.backlight {
    position: fixed;
    width: 40em;
    height: 40em;
    transform: rotate(-30deg);
    border-radius: 50%;
    opacity: .4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background-image: radial-gradient(circle at 95% 47%, #167bf7, #051933 69%);
    top: 20vh;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 1.2em;
    }

    img.placeholder {
        min-height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    img.placeholder {
        min-height: 200px;
    }
}
