/*
    The separation of CSS into cv-all.css, cv-print.css and cv-screen.css
    aimed to replicate Google Docs design in those media types.
    Trying to have a better look on screens, the idea was abandoned.
    TODO: MUST refactor and simplify these files.
*/

@page {
    size: A4 portrait;
    margin: .5in;
}

/* TODO: Review it */
:root {
    --g-docs-text-margin: .5em;
    --g-docs-size-normal: 10pt;
}

body {
    line-height: 1.15rem;
}

/* TODO: Review it */
section {
    margin-bottom: 2em;
}

nav {
    display: none;
}

.page h4 span {
    /* fix printing when in dark mode */
    color: #000;
}

footer {
    font-size: var(--g-docs-size-normal);
    margin-top: 5rem;
    color: #999;
    font-style: italic;
    text-align: right;
}

footer a {
    color: inherit;
}

.screen-only, .modal {
    display: none;
}
