@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;600;800&family=Inter:wght@300;500&display=swap');

body {
    background: var(--body-background);
    color: var(--body-color);
    padding: 0 0 5em 0;
    cursor: default;
}

.page { /* Same as Google Docs */
    box-sizing: border-box;
    background-color: var(--article-background-color);
    margin: 1em auto 0 auto;
    padding: .5in;
    width: 210mm;
    height: 297mm;
    box-shadow: var(--article-box-shadow);
}

.page:first-of-type {
    margin-top: 5em;
}

.page a:hover {
    text-decoration-color: var(--a-color);
    text-decoration-thickness: 2px;
}

.page .gray {
    color: var(--g-docs-gray);
}

.page .screen-mobile {
    display: none;
}

footer {
    position: fixed;
    background-color: var(--footer-background-color);
    padding: .25rem .5rem;
    bottom: .5em;
    right: .5em;
    border-radius: 5px;
    color: var(--footer-text-color);
    font-size: .8rem;
}

@media only screen and (max-width: 215mm) {
    body {
        background-color: var(--article-background-color);
    }

    .page {
        padding: 0;
        box-shadow: none;
        width: 100%;
        height: unset;
        font: 300 1.1em/1.5em 'Inter', sans-serif;
    }

    .page:first-of-type {
        margin-top: 3em;
    }

    section.experience:last-of-type {
        padding-bottom: 0;
    }

    section.experience:first-of-type {
        padding-top: 0;
    }

    section.experience hr {
        margin: 1em 0 3em 0;
        border: 0;
        border-bottom: 1px solid #000;
    }

    .page strong {
        font-weight: 500;
    }

    .page h1, .page h2, .page h3 {
        font-family: inherit;
    }

    .page h1 {
        font: 300 2.2em 'Exo', sans-serif;
    }

    .page h2 {
        font: 600 1.3em 'Exo', sans-serif;
        margin-bottom: 1em;
    }

    .page h3 {
        font: 600 1.2em 'Exo', sans-serif;
    }

    .page h3 span {
        font-weight: 300;
    }

    .page h4 {
        font-size: 1em;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }

    .page ul {
        padding-left: 0;
        list-style: none;
    }

    .page ul li {
        padding-bottom: .5em;
    }

    .page ul li:before {
        content: "• ";
    }

    .page .screen-desktop {
        display: none;
    }

    .page .screen-mobile {
        display: block;
    }

    .page p.div {
        display: none;
    }

    .page .contact span {
        display: block;
        margin: .5em auto;
    }

    section {
        padding: 3em 1em;
        border-bottom: 6px solid var(--section-border-color);
    }

    section:last-child {
        border: 0;
        min-height: 70vh;
    }
}

@media only screen and (max-width: 500px) {
    #nav-print {
        display: none !important;
    }

    #top-bar a {
        padding: 13px 10px;
        font-size: 11pt;
    }

    .page {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 350px) {
    #nav-modal-download {
        display: none !important;
    }
}

@media only screen and (min-width: 240mm) {
    .page {
        zoom: 110%;
    }
}

.print {
    display: none;
}
