/*
    The separation of CSS into cv-all.css, cv-print.css and cv-screen.css
    aimed to replicate Google Docs design in those media types.
    Trying to have a better look on screens, the idea was abandoned.
    TODO: MUST refactor and simplify these files.
*/

body {
    background: var(--body-background) url("/assets/images/stars.png") no-repeat top right fixed;
    color: var(--body-color);
    padding: 0 0 5em 0;
    cursor: default;
}

.page {
    font: 300 1em/1.6 'Inter', sans-serif;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--article-background-color);
    margin: 5em auto 0 auto;
    max-width: 800px;
    box-shadow: var(--article-box-shadow);
}

.page section {
    padding: 3em;
    border-bottom: 1px solid #0f064b;
}

.page a:hover {
    text-decoration-thickness: 2px;
}

.page .gray {
    color: var(--g-docs-gray);
}

.page .screen-mobile {
    display: none;
}

.page .contact span {
    display: block;
    margin: .5em auto;
}

footer {
    position: fixed;
    background-color: var(--footer-background-color);
    padding: .25rem .5rem;
    bottom: .5em;
    right: .5em;
    border-radius: 5px;
    color: var(--footer-text-color);
    font-size: .8rem;
}

@media only screen and (max-width: 215mm) {
    .page {
        /* Ignoring light theme - TODO: Review it */
        background-color: transparent;
        color: #bdc1c6;
        padding: 0;
        box-shadow: none;
        width: 100%;
        height: unset;
    }

    .page a {
        color: #43e8e1;
        text-underline-position: under;
    }

    .page:first-of-type {
        margin-top: 3em;
    }

    section.experience:last-of-type {
        padding-bottom: 0;
    }

    section.experience:first-of-type {
        padding-top: 0;
    }

    section.experience hr {
        margin: 1em 0 3em 0;
        border: 0;
        border-bottom: 1px solid #000;
    }

    .page strong {
        font-weight: 500;
    }

    .page h1, .page h2, .page h3 {
        font-family: inherit;
    }

    .page h1 {
        font-weight: 300;
        font-size: 2.2em;
    }

    .page h2 {
        font-weight: 700;
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    .page h3 {
        font-weight: 700;
        font-size: 1.2em;
    }

    .page h3 span {
        font-weight: 300;
    }

    .page h4 {
        font-size: 1em;
        font-weight: 300;
    }

    .page ul {
        padding-left: 0;
        list-style: none;
    }

    .page ul li {
        padding-bottom: .5em;
    }

    .page ul li:before {
        content: "• ";
    }

    .page .screen-desktop {
        display: none;
    }

    .page .screen-mobile {
        display: block;
    }

    .page p.div {
        display: none;
    }

    section {
        padding: 3em 1em;
        border-bottom: 2px solid var(--section-border-color);
    }

    section:last-child {
        border: 0;
        min-height: 70vh;
    }

    footer {
        color: #bdc1c6;
    }
}

@media only screen and (max-width: 500px) {
    .page {
        margin-top: 2rem;
    }
}

.print {
    display: none;
}

.backlight {
    position: fixed;
    width: 40em;
    height: 40em;
    transform: rotate(-30deg);
    border-radius: 50%;
    opacity: .4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background-image: radial-gradient(circle at 0%, #3d3ea4, #0f064b 50%);
    bottom: 5vh;
    left: 5vw;
    z-index: -1;
}
