* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-rendering: geometricPrecision;
}

::selection {
    background: #3d3ea490 !important;
    color: #fff !important;
}

/* top bar */

#top-bar {
    font-weight: normal;
    font-size: 12pt;
    line-height: 1;
    font-family: Arial, sans-serif;
    background: linear-gradient(86deg, #2977f3, #4f2cd2);
    z-index: 1;
}

#top-bar.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#top-bar svg {
    height: 10pt;
    vertical-align: middle;
}

#top-bar ul {
    margin: 0;
    padding: 0;
}

#top-bar .left {
    float: left;
    padding-left: 10px;
}

#top-bar .right {
    float: right;
    padding-right: 10px;
}

#top-bar li {
    display: inline-block;
}

#top-bar a {
    display: inline-block;
    padding: 17px;
    text-decoration: none;
    color: #fff;
    opacity: .5;
}

#top-bar a:hover, #top-bar a.active {
    transition: 200ms;
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}

#top-bar .modal {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #060606;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-top: none;
    border-radius: 0 0 3px 3px;
}

#top-bar .modal ul {
    margin: .5em 0;
    padding: 0;
    list-style: none;
}

#top-bar .modal li {
    display: block;
}

#top-bar .modal a {
    opacity: 1;
    transition: unset;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
    width: 100%;
    color: rgba(255, 255, 255, .6);
}

#top-bar .modal a:hover {
    background: #222;
    color: #fff;
    padding: 1em;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    #top-bar a {
        padding: 13px 10px;
        font-size: 11pt;
    }

    #top-bar #nav-print, #top-bar.contact #nav-cv {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    #top-bar #nav-modal-download {
        display: none;
    }
}

@media only screen and (max-width: 310px) {
    #top-bar #nav-in, #top-bar.courses #nav-cv {
        display: none;
    }
}
