#top-bar {
    font: normal 1.25em Arial, sans-serif;
    background: linear-gradient(86deg, #2977f3, #4f2cd2);
    font-size: 12pt;
}

#top-bar.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#top-bar svg {
    height: 10pt;
    vertical-align: middle;
}

#top-bar ul {
    padding: 0;
}

#top-bar .left {
    float: left;
    padding-left: 10px;
}

#top-bar .right {
    float: right;
    padding-right: 10px;
}

#top-bar li {
    display: inline-block;
}

#top-bar a {
    display: inline-block;
    padding: 17px;
    text-decoration: none;
    color: #fff;
    opacity: .5;
}

#top-bar a:hover, #top-bar a.active {
    transition: 200ms;
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}

/* Only for CV pages */

.modal {
    display: none;
    position: fixed;
    background-color: var(--article-background-color);
    width: 200px;
    border: 1px solid var(--modal-boder-color);
    border-top: none;
    border-radius: 0 0 3px 3px;
    z-index: 1;
}

.modal ul {
    margin: .5em 0;
    padding: 0;
    list-style: none;
}

.modal a {
    transition: 200ms;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
    width: 100%;
    color: var(--body-color);
}

.modal a:hover {
    background: var(--modal-hover-background);
    padding: 1em;
    display: inline-block;
}
