body {
    font: normal 12pt Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-transform: uppercase;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }

header { display: none; }

section {
    padding: 2em 1em;
    border-bottom: 1px solid #ccc;
    page-break-inside: avoid;
}

section.header {
    page-break-before: always;
}

a {
    color: #000;
    text-decoration: none;
}

figure {
    margin: 1rem 0;
}

.summary {
    display: inline-block;
    margin: 1rem 0 0 0;
    text-align: left;
    line-height: 1.5em;
}

.summary li {
    margin: 0;
}

img {
    max-width: 75%;
    width: 800px;
    border: 1px solid #aaa;
}

figcaption {
    margin: 1rem;
    font-size: .8em;
}

footer {
    margin: 2em 1em;
    font-size: .8em;
    font-weight: bold;
}

footer a {
    font-weight: normal;
    color: #222;
}
