<!DOCTYPE html>
<html lang="{locale}">
<head>
    <title>{metas.title}</title>

    <!-- le meta-tags -->
    <meta charset="utf-8">
    <meta name="description" content="{metas.description}">
    <meta name="keywords" content="{metas.keywords}">
    <link rel="canonical" href="https://afonso.dev/contact/{locale}">

    <!-- le opengraph tags -->
    <meta property="og:title" content="{metas.title}">
    <meta property="og:description" content="{metas.description}">
    <meta property="og:image" content="https://afonso.dev/me.jpg">

    <!-- le languages -->
    <link rel="alternate" hreflang="en" href="https://afonso.dev/contact/en">
    <link rel="alternate" hreflang="es" href="https://afonso.dev/contact/es">
    <link rel="alternate" hreflang="pt" href="https://afonso.dev/contact/pt">

    <!-- le stylesheets -->
    <link rel="stylesheet" href="/assets/style.css?v={hash}" media="all">

    <!-- le mobile -->
    <link rel="apple-touch-icon" href="/assets/icons/favicon-192.png">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, width=device-width">
    <meta name="theme-color" content="#030931">
    <link rel="manifest" href="/app.manifest">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div class="language">
    <a href="{language.first.link}" title="{language.first.title}">{language.first.text}</a>
    <a href="{language.second.link}" title="{language.second.title}">{language.second.text}</a>
</div>

<header>
    <div class="container">
        <div class="code"><span class="open">&lt;</span><span class="close">/&gt;</span></div>
        <h1>Afonso <span class="nowrap">de Mori</span></h1>
        <h2>{about.title}</h2>
    </div>
</header>

<section>
    <div class="container">
        <iframe
            id="JotFormIFrame-240807737812359"
            title="afonso.dev contact"
            onload="window.parent.scrollTo(0,0)"
            allowtransparency="true"
            allow="geolocation; microphone; camera; fullscreen"
            src="https://form.jotform.com/240807737812359"
            frameborder="0"
            style="min-width:100%;max-width:100%;height:539px;border:none;"
            scrolling="no"
        >
        </iframe>
    </div>
</section>

<footer>
    <div class="container">
        <ul>
            <li><a href="/{locale}">Home</a></li>
            <li><a href="#">Back to top</a></li>
        </ul>
    </div>
</footer>

<script src="/assets/js/jotform.js?v={hash}"></script>
<script src="/assets/js/scripts.js?v={hash}"></script>
</body>
</html>
