<!DOCTYPE html>
<html lang="{locale}">
<head>
    <title>{metas.title} ‹ afonso.dev</title>

    <!-- TODO: Email service not working. Redirecting to external service -->
    <meta http-equiv="refresh" content="0; url=https://form.jotform.com/240807737812359?___visit=afonso.dev">

    <!-- le metatags -->
    <meta name="description" content="{metas.description}">
    <meta name="keywords" content="{metas.keywords}">
    <meta charset="utf-8">
    <link rel="canonical" href="https://afonso.dev/contact/{locale}">

    <!-- le opengraph tags -->
    <meta property="og:title" content="{metas.title} ‹ afonso.dev">
    <meta property="og:description" content="{metas.description}">
    <meta property="og:image" content="https://afonso.dev/assets/images/photo-og.jpg">

    <!-- le languages -->
    <link rel="alternate" hreflang="en" href="https://afonso.dev/contact/en">
    <link rel="alternate" hreflang="es" href="https://afonso.dev/contact/es">
    <link rel="alternate" hreflang="pt" href="https://afonso.dev/contact/pt">

    <!-- le stylesheets -->
    <link rel="stylesheet" href="/assets/css/shared.css?v={hash}" media="screen">
    <link rel="stylesheet" href="/assets/css/contact.css?v={hash}" media="all">
    <link rel="stylesheet" href="/assets/webfonts/inter.css" media="screen">

    <!-- In case the CSS does not load -->
    <style>svg { height: 10pt; vertical-align: middle; }</style>

    <!-- le mobile -->
    <link rel="apple-touch-icon" href="/assets/icons/favicon-192.png">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, width=device-width">
    <meta name="theme-color" content="#030931">
    <link rel="manifest" href="/app.manifest">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div id="top-bar" class="contact">
    <nav>
        <ul class="left">
            <li><a href="/{locale}">{topbar.icon} afonso.dev</a></li>
        </ul>
        <ul class="right">
            <li id="nav-cv"><a href="/cv/{locale}">Curriculum</a></li>
            <li id="nav-in"><a target="_blank" href="/linkedin">LinkedIn</a></li>
            <li id="nav-wa"><a target="_blank" href="/whatsapp">WhatsApp</a></li>
        </ul>
    </nav>
    <div style="clear: both;"></div>
</div>

<header>
    <img src="/me.jpg" alt="Photo of Afonso de Mori">
    <div class="container">
        <h1>{header.0} <span>{header.1}</span></h1>
    </div>
</header>
<section id="success">
    <div class="container">
        <h1>{form.success.0} <span>{form.success.1}</span></h1>
    </div>
</section>
<section class="two">
    <div class="container">
        <form id="contact-form" method="post" action="/contact">
            <div>
                <label>
                    {form.name.label}:
                    <input type="text" id="name" name="name" required
                           placeholder="{form.name.placeholder}">
                </label>
            </div>
            <div>
                <label>
                    {form.email.label}:
                    <input type="email" id="email" name="email" required
                           placeholder="{form.email.placeholder}">
                </label>
            </div>
            <div>
                <label>
                    {form.message.label}:
                    <textarea id="message" name="message" required
                              placeholder="{form.message.placeholder}"></textarea>
                </label>
            </div>
            <div>
                <input type="hidden" name="subject" value="{form.subject}"></input>
                <button id="submit"
                        data-submit="{form.submit}"
                        data-submitted="{form.submitted}"
                >{form.submit}</button>
                <div id="error">{form.error}</div>
            </div>
        </form>
    </div>
</section>
<div class="backlight"></div>
<script src="/assets/js/shared.js?v={hash}"></script>
<script src="/assets/js/contact.js?v={hash}"></script>
</body>
</html>
