<!DOCTYPE html>
<html lang="{locale}">
<head>
    <title>{metas.title}</title>

    <!-- le meta-tags -->
    <meta charset="utf-8">
    <meta name="description" content="{metas.description}">
    <meta name="keywords" content="{metas.keywords}">
    <link rel="canonical" href="https://afonso.dev/cv/{locale}">

    <!-- le languages -->
    <link rel="alternate" hreflang="en" href="https://afonso.dev/cv/en">
    <link rel="alternate" hreflang="es" href="https://afonso.dev/cv/es">
    <link rel="alternate" hreflang="pt" href="https://afonso.dev/cv/pt">

    <!-- le stylesheets -->
    <link rel="stylesheet" href="/assets/style.css?v={hash}" media="screen">

    <!-- le mobile -->
    <link rel="apple-touch-icon" href="/assets/icons/favicon-192.png">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, width=device-width">
    <meta name="theme-color" content="#030931">
    <link rel="manifest" href="/app.manifest">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- le opengraph tags -->
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="Afonso">
    <meta property="profile:last_name" content="de Mori">
    <meta property="profile:gender" content="male">
    <!--<meta property="article:modified_time" content="">-->
    <!--<meta property="article:expiration_time" content="">-->
    <meta property="og:title" content="{metas.title}">
    <meta property="og:description" content="{metas.description}">
    <meta property="og:image" content="https://afonso.dev/assets/images/og-image-{locale}.jpg">
</head>
<body>
<div class="language">
    <a href="{language.first.link}" title="{language.first.title}">{language.first.text}</a>
    <a href="{language.second.link}" title="{language.second.title}">{language.second.text}</a>
</div>

<header>
    <div class="container">
        <div class="code"><span class="open">&lt;</span><span class="close">/&gt;</span></div>
        <h1>Afonso <span class="nowrap">de Mori</span></h1>
        <h2>{about.title}</h2>
    </div>
</header>

<section style="margin-bottom: 0">
    <div class="container">
        <p style="margin: 0">{download.text}</p>

        <div class="custom-select">
            <span class="selected-option primary">{language1.action} ▾</span>
            <select aria-label="{language1.action}" class="download-cv">
                <option selected disabled value="">{language1.format}</option>
                <option value="{language1.locale}-pdf">PDF (.pdf)</option>
                <option value="{language1.locale}-docx">Word (.docx)</option>
                <option value="{language1.locale}-txt">{language1.option3.text}</option>
            </select>
        </div>

        <div class="custom-select">
            <span class="selected-option">{language2.action} ▾</span>
            <select aria-label="{language2.action}" class="download-cv">
                <option selected disabled value="">{language2.format}</option>
                <option value="{language2.locale}-pdf">PDF (.pdf)</option>
                <option value="{language2.locale}-docx">Word (.docx)</option>
                <option value="{language2.locale}-txt">{language2.option3.text}</option>
            </select>
        </div>

        <div class="custom-select">
            <span class="selected-option">{language3.action} ▾</span>
            <select aria-label="{language3.action}" class="download-cv">
                <option selected disabled value="">{language3.format}</option>
                <option value="{language3.locale}-pdf">PDF (.pdf)</option>
                <option value="{language3.locale}-docx">Word (.docx)</option>
                <option value="{language3.locale}-txt">{language3.option3.text}</option>
            </select>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <picture>
            <source srcset="/docs/cv-{locale}-afonso_de_mori-1.webp" type="image/webp">
            <img width="700" class="cv-page" src="/docs/cv-{locale}-afonso_de_mori-1.png" alt="Curriculum: Afonso de Mori - Page 1">
        </picture>
        <picture>
            <source srcset="/docs/cv-{locale}-afonso_de_mori-2.webp" type="image/webp">
            <img width="700" class="cv-page" src="/docs/cv-{locale}-afonso_de_mori-2.png" alt="Curriculum: Afonso de Mori - Page 2">
        </picture>
    </div>
</section>

<footer>
    <div class="container">
        <ul>
            <li><a href="/{locale}">Home</a></li>
            <li><a href="#">Back to top</a></li>
        </ul>
    </div>
</footer>

<script src="/assets/js/scripts.js?v={hash}"></script>
</body>
</html>
