<!DOCTYPE html>
<html lang="{locale}">
<head>
    <title>{metas.title}</title>

    <!-- le meta-tags -->
    <meta charset="utf-8">
    <meta name="description" content="{metas.description}">
    <meta name="keywords" content="{metas.keywords}">
    <link rel="canonical" href="https://afonso.dev/{locale}">

    <!-- le opengraph tags -->
    <meta property="og:title" content="{metas.title}">
    <meta property="og:description" content="{metas.description}">
    <meta property="og:image" content="https://afonso.dev/me.jpg">

    <!-- le languages -->
    <link rel="alternate" hreflang="en" href="https://afonso.dev/en">
    <link rel="alternate" hreflang="es" href="https://afonso.dev/es">
    <link rel="alternate" hreflang="pt" href="https://afonso.dev/pt">

    <!-- le stylesheets -->
    <link rel="stylesheet" href="/assets/css/shared.css?v={hash}" media="screen">
    <link rel="stylesheet" href="/assets/css/home.css?v={hash}" media="screen">
    <link rel="stylesheet" href="/assets/webfonts/exo,inter.css" media="screen">

    <!-- le mobile -->
    <link rel="apple-touch-icon" href="/assets/icons/favicon-192.png">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, width=device-width">
    <meta name="theme-color" content="#030931">
    <link rel="manifest" href="/app.manifest">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "gender": "Male",
        "name": "Afonso de Mori Ayres da Silva",
        "givenName": "Afonso",
        "familyName": "Silva",
        "image": "https://afonso.dev/me.jpg",
        "birthDate": "1989-01-10T11:02:00-03:00",
        "nationality": "BR",
        "jobTitle": "Software developer",
        "url": "https://afonso.dev",
        "sameAs": [
            "https://www.linkedin.com/in/afonsodemori",
            "https://twitter.com/afonsodemori"
        ],
        "address": {
            "@type": "PostalAddress",
            "addressRegion": "Madrid",
            "postalCode": "28792",
            "addressCountry": "ES"
        },
        "alumniOf": {
            "@type": "CollegeOrUniversity",
            "name": "Universidade Nove de Julho",
            "url": "https://www.uninove.br",
            "address": {
                "@type": "PostalAddress",
                "addressRegion": "Sao Paulo",
                "postalCode": "01156-050",
                "addressCountry": "BR"
            }
        }
    }
</script>
<section>
    <div>
        <h1>Afonso <span class="nowrap">de Mori</span></h1>
        <h2>{about.title}</h2>
        <p class="bio">{about.bio}</p>
        <ul class="links">
            <li><a href="/cv/{locale}" title="{links.resume.title}">{links.resume.text}</a></li>
            <li><a target="_blank" href="/in" title="{links.linkedin.title}">{links.linkedin.text}</a></li>
            <li><a target="_blank" href="/github" title="{links.github.title}">{links.github.text}</a></li>
            <li><a href="/contact/{locale}" title="{links.contact.title}">{links.contact.text}</a></li>
        </ul>
    </div>
</section>
<div class="backlight"></div>
<script src="/assets/js/shared.js?v={hash}"></script>
</body>
</html>
